
.menu {
    width: 800px;
    background-color: #333;
    padding: 10px 0;
    margin: 50px auto;
    border-radius: 5px;
    }

.menu ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-evenly; 
    }

.menu li {
    margin: 0 auto; 
    }

.menu a {
    color: white; 
    text-decoration: none; 
    padding: 10px 75px; 
    border-radius: 5px; 
    transition: background-color 0.3s;
    }

.menu a:hover {
    background-color: #575757; 
}